<div class="transaction-item">

  <div class="item-details">
    <div class="amount positive" *ngIf="transaction.amount_sbd > 0">
      +{{ transaction.amount_sbd | number }}
    </div>
    <div class="amount negative" *ngIf="transaction.amount_sbd < 0">
      {{ transaction.amount_sbd | number }}
    </div>

    <div class="timestamp text-muted">{{ transaction.dateCreated() }}</div>
  </div>


  <div>
    <div class="circle-username bg-info">{{ transaction.counterparty[0] }}</div>

    <div class="comment arrow_box">
      <span>{{ transaction.comment }}</span>
    </div>
  </div>

</div>
