
.campaign-cover {
  max-width: 100%;
}


.campaign-details {
  padding-top: 1rem;
}

.campaign-details h4 {

}

.campaign-transactions-list {
  margin-top: 20px;
  height: 300px;
  overflow-y: scroll;
}

.donate-button-wrapper {
  margin: 1rem 0;
  text-align: center;
}
