<transactions-filter></transactions-filter>

<ng-container *ngIf="!loading; else loadingScreen">

  <div *ngIf="transactions.length; else transactionsNotFound">
    <transactions-list-item *ngFor="let item of transactions" [transaction]="item">
    </transactions-list-item>
  </div>
</ng-container>

<ng-template #transactionsNotFound>
  <div class="mt-2">
    <div class="col-lg-8 text-muted">
      No transactions
    </div>
  </div>
</ng-template>

<ng-template #loadingScreen>
  <div class="mt-2">
    <div class="col-lg-8">
      Loading...
    </div>
  </div>
</ng-template>
