<div class="row login-logo">
  <img src="assets/icons/payment.png" class="payment-icon"
       srcset="assets/icons/payment@2x.png 2x,assets/icons/payment@3x.png 3x">
  <div class="logo-text text-center">
    donate<strong>now</strong>
  </div>
</div>

<div class="home-area row">
  <h1>Agile donation platform</h1>

  <button class="btn btn-lg btn-primary col-md-8 m-3" routerLink="/login">Join Now</button>

  <ul class="list-unstyled list-featured col-md-10">
    <li>
      <h4>Cafe tips</h4>
      <p class="col-sm-12">Tipping is easy. Even without a cash.</p>
    </li>
    <li>
      <h4>Charity campaigns</h4>
      <p class="col-sm-12">Simple charity campaigns for good.</p>
    </li>
    <li>
      <h4>Custom goals</h4>
      <p class="col-sm-12">Every good thing can raise some donation.</p>
    </li>
    <li>
      <p class="col-sm-12 text-right">... and many more!</p>
    </li>
  </ul>
</div>
