<div class="home-area row">
  <h1>Agile donation platform</h1>

  <ul class="list-unstyled list-featured col-md-10">
    <li>
      <h4>Cafe tips</h4>
      <p class="col-sm-12">Here is a fancy text about our project, goals and how to use it.</p>
    </li>
    <li>
      <h4>Charity campaigns</h4>
      <p class="col-sm-12">Here is a fancy text about our project, goals and how to use it.</p>
    </li>
    <li>
      <h4>Custom goals</h4>
      <p class="col-sm-12">Here is a fancy text about our project, goals and how to use it.</p>
    </li>
  </ul>
</div>
