<div class="home-area">
  <h1>Agile donating platform</h1>

  <ul class="list-unstyled list-featured">
    <li>
      <h4>Cafe tips</h4>
      <p class="lead">Here is a fancy text about our project, goals and how to use it.</p>
    </li>
    <li>
      <h4>Charity campaigns</h4>
      <p class="lead">Here is a fancy text about our project, goals and how to use it.</p>
    </li>
    <li>
      <h4>Custom goals</h4>
      <p class="lead">Here is a fancy text about our project, goals and how to use it.</p>
    </li>
  </ul>
</div>
