<div class="row login-logo">
  <img src="assets/icons/payment.png" srcset="assets/icons/payment@2x.png 2x,assets/icons/payment@3x.png 3x"
       class="payment-icon">
</div>

<div class="row text-center login-buttons col-md-12">
  <div class="col-md-12">
    <button class="btn btn-primary" (click)="login()">
      Login with steem<span>connect</span></button>
  </div>

  <div class="col-md-12">
    <button class="btn btn-default" (click)="signup()">
      Sign Up
    </button>
  </div>

  <div class="col-md-12">
    <button class="btn btn-link" (click)="usePromo()">Have a promo code?</button>
  </div>
</div>
