<nav class="navbar navbar-dark bg-white fixed-bottom" *ngIf="menuVisible">

  <ul class="list-inline">
    <li class="list-inline-item active">
      <a class="nav-link" href="" routerLink="/dashboard">
        <img src="assets/icons/dashboard.png" class="dashboard-icon"
             srcset="assets/icons/dashboard@2x.png 2x,assets/icons/dashboard@3x.png 3x">
      </a>
    </li>

    <li class="list-inline-item">
      <a class="nav-link" href="" routerLink="/campaign/create">
        <img src="assets/icons/create-record.png" class="create-record-icon"
             srcset="assets/icons/create-record@2x.png 2x,assets/icons/create-record@3x.png 3x">
      </a>
    </li>

    <li class="list-inline-item">
      <a class="nav-link" href="" routerLink="/maps/campaigns">
        <img src="assets/icons/geo-point.png" class="dashboard-icon"
             srcset="assets/icons/geo-point@2x.png 2x,assets/icons/geo-point@3x.png 3x">
      </a>
    </li>

    <li class="list-inline-item">
      <a class="nav-link" href="" routerLink="/profile">
        <img src="assets/icons/user.png" class="dashboard-icon"
             srcset="assets/icons/user@2x.png 2x,assets/icons/user@3x.png 3x">
      </a>
    </li>

  </ul>


</nav>
